export PYTHONPATH=$PYTHONPATH:$(pwd):$(pwd)/develop/:$(pwd)/develop/src:$(pwd)/services/:$(pwd)/services/src:$(pwd)/src/lib
export SECRET_KEY="MySuperSecretKey"
export GOOGLEWEBDRIVEDIR=$HOME/.myServices/chromedriver
export FIREFOXWEBDRIVEDIR=$HOME/.myservices/geckodriver

export JUPYTERLAB_SETTINGS_DIR=./.jupyter/lab/user-settings
export JUPYTERLAB_WORKSPACES_DIR=./.jupyter/lab/workspaces


